[submodule "3rd_party/libelfin"]
	path = 3rd_party/libelfin
	url = https://github.com/aclements/libelfin.git
[submodule "3rd_party/linenoise"]
	path = 3rd_party/linenoise
	url = https://github.com/antirez/linenoise.git
